@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&family=Open+Sans:wght@400;500;600;700;800&display=swap');





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: "Poppins", sans-serif; */
    font-family: 'Mulish', sans-serif;
    font-family: 'Open Sans', sans-serif;
    --color1: #FFF;
    --color2: #181818;
    --color3: #03b497;
}

.btn-primary {
    border-radius: 5px;
    background-color: var(--color3);
    border: none;
    padding: 10px 18px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;

}


.section-title {
    font-size: 45px;
}

/* header-section-styles */

.header-section {
    max-width: 1250px;
    margin: 40px auto;
}



.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: var(--color1);
    /* padding: 12px 20px; */
}

.logo img {
    width: 60px;
}

.logo-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.travel {
    color: var(--color3);
}

.menu {
    display: flex;
}

.menu li {
    padding-left: 30px;
}

.menu li a {
    display: inline-block;
    text-decoration: none;
    color: var(--color2);
    font-weight: 600;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;

}

.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--color2);
    transition: 0.15s ease-in-out;

}

.menu li a:hover:after {
    width: 100%;
    color: #fc0000;
}

.open-menu,
.close-menu {
    position: absolute;
    color: var(--color2);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu {
    top: 20px;
    right: 20px;
}

#check {
    display: none;
}


/* banner-section-styles */


.banner-section {
    max-width: 1250px;
    margin: 40px auto;
    background-image: linear-gradient(to top, rgba(255, 0, 0, 0), rgb(0, 0, 0)), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    text-align: center;
    /* padding: 210px 240px; */
    background-size: cover;
    color: #fcfafa;
    border-radius: 15px;
}

.banner-content {
    padding: 140px;

}

.banner-title {
    font-size: 64px;
    font-weight: 800;
}

.banner-description {
    font-size: 16px;
    font-weight: 400;
    padding: 24px;
}

.form {
    display: flex;
    background-color: rgba(255, 255, 255, 0.30);



    padding: 10px;
    border-radius: 15px;
}

.form input {
    border-radius: 10px;
    margin: 0 10px;
    text-align: left;
    padding-left: 10px;
    padding: 15px 15px;
    border: none;
}

/* popular-section-styles */

.popular-section {
    max-width: 1250px;
    margin: 100px auto;
    display: flex;
    gap: 100px;
}

.popular-text-content {
    max-width: 50%;
}

.popular-img-content {
    max-width: 50%;

}

.popular-text-description {
    margin-top: 24px;
    font-size: 16px;
    color: rgba(19, 19, 24, 0.70);
    font-weight: 400;
    margin-bottom: 20px;

}

.popular-tours-list {
    padding-left: 20px;
    margin-top: 24px;
    font-size: 16px;
    color: rgba(19, 19, 24, 0.70);
    font-weight: 400;
}


/* destination-section-styles */
.destination-section {
    max-width: 1250px;
    margin: 50px auto;
    text-align: center;

}

.destination-text-content {
    padding: 0px 140px;


}

.destination-img-container-1 {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* display: flex; */
    padding-left: 60px;

}

.destination-img-container-2 {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-left: 60px;
}

.destination-img-container-3 {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 60px;
    padding-right: 24px;
}





.choose-section {
    max-width: 1250px;
    margin: 40px auto;
    text-align: center;
}

.choose-content-first {
    display: flex;
    gap: 100px;
    text-align: left;
    align-items: center;
}

.choose-content-one {
    margin-top: 24px;
    padding: 24px;

    max-width: 50%;
}

.choose-content-two {
    padding: 24px;

    max-width: 50%;
}

.choose-content-second {
    padding: 24px;

    max-width: 50%;
    margin: 60px auto;
    text-align: left;
}

.icon-img {
    max-width: 64px;
}

.choose-section-title {
    padding: 20px 0px;
}

/* newsletter-section-styles */
.newsletter-section {
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
}

.newsletter-form {
    padding: 30px;
    max-width: 40%;
    border: 1px solid red;
    border-radius: 15px;
}

.newsletter-image {
    max-width: 100%;

}


.newsletter-description {
    padding: 30px 0px;
}

.newsletter-form input {
    max-width: 100%;
    margin: 10px 0px;
    padding-top: 24px;
    padding-bottom: 24px;
    /* padding-right: 100px; */
    border-radius: 10px;
    padding-left: 10px;
    font-size: 16px;

}


/* footer-section-styles */

.footer-section {
    max-width: 1440px;
    margin: 0 auto;
}

.footer-content-section {
    max-width: 1250px;
    margin: 140px auto;
    text-align: center;
    justify-content: center;

}

.footer-content {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.footer-img {
    max-width: 60px;
}

.footer-icons {
    font-size: 24px;
    padding: 30px auto;
}


.fa-brands {
    margin: 40px 10px;
}


.footer-description {
    margin-top: 24px;
    padding: 0px 140px;
}


.footer-text {
    margin-top: 40px;
}





















































































@media screen and (max-width:600px) {

    /* .nav-bar{
        flex-direction: column;
    } */
    .header-section {
        padding: 0px 24px;
    }

    .menu {

        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 60vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--color3);
        transition: all 0.2s ease-in-out;
    }

    .menu li {
        margin-top: 40px;
    }

    .menu li a {
        padding: 10px;
    }

    .open-menu,
    .close-menu {
        display: block;
    }

    #check:checked~.menu {
        right: 0;
    }

    .banner-section {
        margin: 0px 24px;
    }

    .banner-content {
        padding: 100px 24px;

    }

    .banner-title {
        font-size: 35px;
        font-weight: 600;
    }

    .form {
        flex-direction: column;
        max-width: 100%;
        gap: 20px;

    }

    .popular-section {
        /* max-width: 1250px;
        margin: 100px auto;
        display: flex;
        gap:50px ; */
        align-items: center;
        flex-direction: column;
        gap: 50px;
        padding: 0px 24px;
    }

    .popular-text-content {
        max-width: 100%;
    }

    .popular-img-content {
        max-width: 100%;

    }

    .choose-section {
        padding: 40px;
    }

    .choose-content-first {
        gap: 30px;
        flex-direction: column;
    }

    .choose-content-one {
        max-width: 100%;
        text-align: left;
        justify-content: left;
    }

    .choose-content-two {
        max-width: 100%;
        text-align: left;
        justify-content: left;
    }



    .choose-content-second {
        max-width: 100%;
        text-align: left;
        justify-content: left;
    }

    .newsletter-section {
        /* max-width: 1250px;
    margin: 0 auto; */
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .newsletter-image {
        max-width: 100%;
        padding: 0px 24px;
    }

    .newsletter-form {
        max-width: 100%;
        margin: 0px 24px;

    }

    .footer-content-section {
        max-width: 100%;
        /* margin: 140px auto; */
        text-align: center;
        justify-content: center;
        align-items: center;

    }


    .footer-description {
        margin-top: 24px;
        padding: 0px 44px;
    }

    /* .destination-img{
    object-fit: fill;
max-width: 100%;
   } */


    .destination-img-container-1 {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;

    }

    .destination-img-container-2 {
        grid-template-columns: repeat(1, 1fr);
    }

    .destination-img-container-3 {
        grid-template-columns: repeat(1, 1fr);
    }

    /* .destination-img-container-1 img {
        max-width: 100%;
        padding: 0px 20px;
    }

    .destination-img-container-2 img {
        max-width: 100%;
        padding: 0px 20px;
    }

    .destination-img-container-3 img {
        max-width: 100%;
        padding: 0px 20px;
    } */



    .img-1 {
        max-width: 100%;
        padding: 0px 24px;
    }

    .img-2 {
        max-width: 100%;
        padding: 0px 24px;
    }

    .img-3 {
        width: 100%;
        padding: 0px 24px;
    }

    .img-4 {
        width: 100%;
        padding: 0px 24px;
    }

    .img-5 {

        width: 100%;
        padding: 0px 24px;
    }


    .img-6 {
        width: 100%;
        padding: 0px 24px;
    }

    .img-7 {
        margin-top: 20px;
       width: 100%;
        padding: 0px 24px;
    }









}